[dev-packages]
pytest-cov = ">=2.10.0"

[packages]
Flask = ">=1.1.0"
Flask-Admin = ">=1.5.0"
Flask-SQLAlchemy = ">=2.4.0"

[scripts]
test = "cp instance/settings.py.example instance/settings.py; pytest --cov=vmailadmin"
