attrs==22.2.0
cfgv==3.3.1
coverage==7.2.2
distlib==0.3.6
exceptiongroup==1.1.1
filelock==3.9.1
identify==2.5.20
iniconfig==2.0.0
nodeenv==1.7.0
packaging==23.0
platformdirs==2.6.2
pluggy==1.0.0
pre-commit==3.1.1
pytest==7.2.2
pytest-cov==4.0.0
PyYAML==6.0
requirements-tools==2.1.0
setuptools==67.6.0
toml==0.10.2
tomli==2.0.1
virtualenv==20.21.0
