cfgv==3.4.0
coverage==7.5.0
distlib==0.3.8
filelock==3.13.4
identify==2.5.36
iniconfig==2.0.0
nodeenv==1.8.0
packaging==24.0
platformdirs==4.2.1
pluggy==1.5.0
pre-commit==3.7.0
pytest==8.1.1
pytest-cov==5.0.0
PyYAML==6.0.1
requirements-tools==2.1.0
setuptools==69.5.1
virtualenv==20.26.0
