attrs==22.2.0
cfgv==3.3.1
coverage==7.1.0
distlib==0.3.6
exceptiongroup==1.1.0
filelock==3.9.0
identify==2.5.13
iniconfig==2.0.0
nodeenv==1.7.0
packaging==23.0
platformdirs==2.6.2
pluggy==1.0.0
pre-commit==2.21.0
pytest==7.2.1
pytest-cov==4.0.0
PyYAML==6.0
requirements-tools==2.1.0
setuptools==66.1.1
toml==0.10.2
tomli==2.0.1
virtualenv==20.17.1
