---
name: test
on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version:
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: test
        run: |
          pip install -r requirements.txt -r requirements-dev.txt
          cp instance/settings.py.example instance/settings.py
          python -m pytest --cov=vmailadmin --junitxml=pytest.xml --cov-report=term-missing:skip-covered
